body{
    background-color: dodgerblue;
    color: white;
}

.mainFormLabels {
    width: 25%;
    float: left;
}
.mainFormInput {
    width: 25%;
    float: left;
}
.formLabels{
    width: 20%;
    float: left;
}

.qualificationDiv{
    width: 50%;
    float: left;
}

.inputArea{
    width: 15%;
    float: left;
}

.inputRadio{
    width: 10%;
    font-size: 10px;
}

.emptyArea {
    width: 5%;
    float: left;
    color: transparent;
}