body{
    /*background: linear-gradient(#80deea, #b2ebf2);*/
    background-image: url('vertical_pattern.png'), linear-gradient(#80deea, #b2ebf2);
    background-repeat: repeat-y;
    /*background-color: blue;*/
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.content {
    margin-left: 200px;
}

.profileImage {
    float: right;
    margin-right: 10%;
    width: 150px;
    height: 150px;
}

.resumeHeader {
    text-align: center;
}

.table{
    width: 50%;
    float: left;
}
.tableContentHeader{
    font-weight: 800;
}
.tableContent {
    width: 25%;
    float: left;
    text-align: center;
}