body {
	background-color: bisque;
	color:white;
}

.container {
	width : 900px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: yellow;
}

.header {
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	border-style: solid;
	border-color: #ff0000;
}

.linksDiv {
	width: 30%;
	float: left;
	height: 400px;
	text-align: center;
	border-style: solid;
	border-color: #ff0000;
}

.links {
	text-decoration: none;
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 10%;
}

.mainContent {
	width: 68%;
	float: left;
	height: 400px;
	border-style: solid;
	color: black;
	border-color: #000000;
}